.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.share {
  text-align: right;
  margin-right: 17%;
  margin-top: 20px;
  justify-content: right;
  margin-left: 80%;
}

.shareIcon {
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.shareIcon:hover {
  background: #F2F4F7;
}

.shareIcon img {
  margin-top: 10px;
  margin-right: 10px;
}

.profile {
  color: #101828;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.image1 {
  transition: .5s ease;
  cursor: pointer;
  text-align: center;
  z-index: 9;

}

.profileIcon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileMiddle {
  transition: .5s ease;
  cursor: pointer;
  position: absolute;
  top: 13.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  height: 11%;
  background: #344054;
  opacity: 0;
  z-index: 100;
}

.image2 {
  font-size: 16px;
  padding: 16px 32px;
  margin-top: 30px;
}

.image1:hover .profileMiddle {
  visibility: visible;
}


.profileMiddle:hover {
  visibility: visible;
  opacity: 0.5;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}